
.chat-sender{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 5em;

}
.chat-sender img,
.chat-receiver img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0 6px;

    
}
.chat-sender p{
    padding: 10px;
    background-color: rgb(191, 207, 202);
    border-radius: 10px;
    max-width: 60%;
}
.chat-receiver{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}
.chat-receiver p{
    padding: 10px;
    background-color: rgb(97, 238, 97);;
    border-radius: 10px;
    max-width: 60%;
}
.chats_list{
    overflow: scroll;
    overflow-x: hidden;
}