.inputtext_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
}
/* .inputtext_container button{
    width: 10%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(70, 236, 70);
    border-width: 0;
    color: white;
} */
.inputtext_container textarea{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(190, 187, 187);
}
.inputtext_container img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 0 6px;
    cursor: pointer;
}